@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h2 class="display-3"> Locadora BlockBluemer</h2>
    <h3 class="display-4">Os melhores filmes para quem é Bluemer</h3>
</div>
<div>
    <img src="https://www.istoedinheiro.com.br/wp-content/uploads/sites/17/2021/03/blockbuster-1280x720.jpg" class="img-fluid" alt="Imagem de uma locadora">
</div>
